@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans m-4;
}

a {
  @apply text-blue-600 underline;
}

button {
  @apply bg-blue-500 hover:bg-blue-600 active:bg-blue-700 text-white py-1 px-2 rounded;
}

select {
  @apply bg-white border border-gray-400 hover:border-gray-500 py-1 px-2 rounded;
}

h1 {
  @apply text-3xl font-bold mb-3;
}

h2 {
  @apply text-2xl font-bold mb-2;
}

h3 {
  @apply text-xl font-bold mb-1;
}

ul > li {
  @apply list-disc ml-4;
}
